<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Partially Applied - $title$</title>

        <link href='http://fonts.googleapis.com/css?family=Merriweather|Amatic+SC:400,700|Oxygen+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
      <div id="header"></div>

      <div id="content-wrapper">
        <div id="sidebar">
            <div id="logo">
              <a href="/">
                <img src="/images/haskell-logo.png" />
                Partially Applied
              </a>
            </div>
            <ul id="navigation">
              <li><a href="/">Home</a></li>
              <li><a href="/archive.html">Archive</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="mailto:louis.j.scoras@gmail.com" target="_blank">Contact</a></li>
            </ul>
            <img src="http://www.econify.com/images/staff/lou.jpg" />
            <p>
              Hi. I'm Lou. I program Ruby by day, and dream of monoids at night.
              Stick around for some thoughts on Haskell, Ruby and other
              programming geekery.
            </p>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
      </div>

      <div id="footer"></div>
    </body>
</html>
